@import 'base/variables';
@import 'base/normalize';
@import 'base/global';
@import 'plugins/bxslider';

$o: 'Open Sans', sans-serif;
$dark: #333;
$light: #666;
$blue: #37aecc;

@mixin font($font-size,$line-height,$letter-spacing, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
}

/*----- GLOBAL -----*/
body {
  font-family: $o;
  text-align: center;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  width: 100vw;
  position: relative;
  z-index: 2;
  background: #fff;
  float: left;
}

.container {
  max-width: 940px;
  float: none;
  margin: 0 auto;
  clear: both;
}

a, input, button {
  &:hover {
    transition: all .3s ease-in-out;
  }
}

/*----- HEADER -----*/
header {
  position: fixed;
  z-index: 1;
  height: 120px;
  width: 100vw;
  top: 0;
}

.logo {
  width: 183px;
  height: 24px;
  background: url(../../img/dt-logo.png) center center no-repeat;
  font-size: 0;
  position: absolute;
  top: 46px;
  left: 56px;
}

.menu {
  display: none;
}

.menu-toggle {
  position: absolute;
  top: 55px;
  right: 55px;
  i {
    width: 30px;
    height: 6px;
    display: block;
    margin-bottom: 4px;
    background: $dark;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*----- SECTION: UI/UX -----*/
.ui-ux {
  position: fixed;
  top: 0;
  margin-top: 140px;
  width: 100vw;
  background: #fff;
  z-index: 1;
  .icon {
    width: 60px;
    height: 74px;
    background: url(../../img/icon_ui-ux.png) center center no-repeat;
    display: block;
    margin: 0 auto 20px;
  }
  .title {
    @include font (76px, 73.27px, 0, 800);
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
    &:before {
      content: '';
      width: 180px;
      height: 2px;
      background: $dark;
      display: block;
      margin: 0 auto 15px;
    }
  }
  .excerpt {
    @include font (20px, 28px, -.1px, 300);
    color: $light;
    max-width: 1000px;
    display: block;
    margin: 0 auto 105px;
  }
}

/*----- LOVE WHAT YOU DO -----*/
.love {
  background: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 515px;
  .title {
    @include font (42px, 48px, -.1px, 800);
    text-transform: uppercase;
    margin-bottom: 95px;
  }
  .bx-wrapper {
    max-width: 100vw !important;
    background: transparent;
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
  }
  .bx-viewport {
    width: 100vw;
  }
  .item {
    width: 33vw !important;
    img {
      margin: 0 auto;
    }
    .caption {
      @include font (18px, 48px, -.1px, 100);
      font-style: italic;
      margin-bottom: 90px;
      span {
        font-weight: 800;
        text-transform: uppercase;
        font-style: normal;
      }
    }
  }
}

/*----- GREAT PEOPLE -----*/
.great-people {
  background: url(../../img/surround-bg.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 90px;
  .title {
    @include font (42px, 48px, -.1px, 800);
    text-transform: uppercase;
    margin-bottom: 155px;
  }
  .bx-wrapper {
    max-width: 940px !important;
    background: transparent;
    border: 0;
    box-shadow: none;
    margin: 0 auto;
    .bx-pager.bx-default-pager a {
      background: #fff;
      border: 2px solid transparent;
      height: 7px;
      width: 7px;
      &.active {
        background: transparent;
        border: 2px solid #fff;
      }
    }
  }
  .bx-controls-direction {
    display: none;
  }
  .quote {
    @include font (43px, 59px, -.1px, 300);
    margin-bottom: 55px;
  }
  img {
    margin: 0 auto 15px;
  }
  .name {
    @include font (18px, 25px, 0, 700);
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .job-title {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
  }
}

/*----- WHAT WE DO -----*/
.what-we-do, .culture {
  padding-top: 145px;
  padding-bottom: 100px;
  &:after {
    content: '';
    width: 100%;
    max-width: 1200px;
    height: 1px;
    display: block;
    background: #ebebeb;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .column {
    width: 50%;
    float: left;
  }
  .title {
    @include font (42px, 1, -.1px, 800);
    text-transform: uppercase;
    margin-bottom: 55px;
    span {
      font-weight: 300;
      font-style: italic;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      padding: 0;
      @include font (21px, 38px, -.1px, 300);
      margin-bottom: 5px;
    }
  }
  .dont {
    .title {
      position: relative;
      &:before {
        content: '';
        width: 3px;
        height: 130px;
        background: #ff535b;
        position: absolute;
        transform: rotate(25deg);
        top: -45px;
        left: 240px;
      }
    }
  }
}

/*----- CULTURE -----*/
.culture {
  padding-bottom: 85px;
  &:after {
    display: none;
  }
  .title {
    font-size: 34px;
    margin-bottom: 20px;
  }
  .excerpt {
    font-size: 21px;
    line-height: 34px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  a {
    color: $blue;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    &:hover {
      color: $dark;
    }
  }
  .quote {
    @include font (36px, 48px, -.25px, 300);
    margin-bottom: 55px;
  }
}

/*----- INSTAGRAM STIP -----*/
.instagram-strip {
  height: 500px;
  background: url(../../img/instagram-strip.jpg) center center no-repeat;
  background-size: cover;
}

/*----- WORK WITH PERKS -----*/
.perks {
  background: url(../../img/work-perks-bg.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 115px;
  .container {
    max-width: 990px;
  }
  .title {
    @include font (42px, 48px, -.1px, 800);
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .excerpt {
    @include font (21px, 32px, -.1px, 300);
    margin-bottom: 75px;
  }
  .item {
    width: 33.3333%;
    float: left;
    margin-bottom: 100px;
  }
  .icon {
    width: 100%;
    height: 75px;
    img {
      margin: 0 auto;
    }
  }
  .feature {
    @include font (18px, 1, -.1px, 800);
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .info {
    font-weight: 400;
    padding: 0 20px;
  }
}

/*----- POSITION REQUIREMENTS -----*/
.requirements {
  padding-top: 115px;
  padding-bottom: 80px;
  .title {
    @include font (42px, 48px, -.1px, 800);
    text-transform: uppercase;
    margin-bottom: 65px;
  }
  p {
    @include font (21px, 28px, 0, 300);
    margin-bottom: 30px;
  }
}